[submodule "script.skinshortcuts"]
	path = script.skinshortcuts
	url = https://github.com/nkvoronov/script.skinshortcuts.git
	branch = vmatrix
[submodule "script.epg.vsetv"]
	path = script.epg.vsetv
	url = https://github.com/nkvoronov/script.epg.vsetv.git
	branch = vmatrix
[submodule "service.skin.widgets"]
	path = service.skin.widgets
	url = https://github.com/nkvoronov/service.skin.widgets.git
	branch = vmatrix
[submodule "script.rss.editor"]
	path = script.rss.editor
	url = https://github.com/nkvoronov/script.rss.editor.git
	branch = vmatrix
[submodule "script.globalsearch"]
	path = script.globalsearch
	url = https://github.com/nkvoronov/script.globalsearch.git
	branch = vmatrix
[submodule "script.simpleplaylists"]
	path = script.simpleplaylists
	url = https://github.com/nkvoronov/script.simpleplaylists.git
	branch = vmatrix
[submodule "script.transmission"]
	path = script.transmission
	url = https://github.com/nkvoronov/Transmission-XBMC.git
	branch = vmatrix
[submodule "script.xbmc.audio.mixer"]
	path = script.xbmc.audio.mixer
	url = https://github.com/nkvoronov/script.xbmc.audio.mixer.git
	branch = vmatrix
[submodule "script.xbmc.lcdproc"]
	path = script.xbmc.lcdproc
	url = https://github.com/nkvoronov/script.xbmc.lcdproc.git
	branch = vmatrix
[submodule "service.3denabler.samsungtv"]
	path = service.3denabler.samsungtv
	url = https://github.com/nkvoronov/service.3denabler.samsungtv.git
	branch = vmatrix
[submodule "skin.confluence-extended"]
	path = skin.confluence-extended
	url = https://github.com/nkvoronov/skin.confluence-extended.git
	branch = vmatrix
[submodule "skin.confluence-extended-s"]
	path = skin.confluence-extended-s
	url = https://github.com/nkvoronov/skin.confluence-extended.git
	branch = vmatrix-s
[submodule "skin.estuary2-extended"]
	path = skin.estuary2-extended
	url = https://github.com/nkvoronov/skin.estuary2-extended.git
	branch = vmatrix
[submodule "skin.estuary2-extended-s"]
	path = skin.estuary2-extended-s
	url = https://github.com/nkvoronov/skin.estuary2-extended.git
	branch = vmatrix-s
[submodule "script.cu.lrclyrics"]
	path = script.cu.lrclyrics
	url = https://github.com/nkvoronov/script.cu.lrclyrics.git
	branch = vmatrix
[submodule "resource.images.busyspinners.estuary"]
	path = resource.images.busyspinners.estuary
	url = https://github.com/nkvoronov/resource.images.busyspinners.estuary.git
	branch = vmatrix
[submodule "resource.images.skinicons.estuary"]
	path = resource.images.skinicons.estuary
	url = https://github.com/nkvoronov/resource.images.skinicons.estuary.git
	branch = vmatrix
[submodule "script.extendedinfo"]
	path = script.extendedinfo
	url = https://github.com/nkvoronov/script.extendedinfo.git
	branch = vmatrix
[submodule "script.module.youtube.dl"]
	path = script.module.youtube.dl
	url = https://github.com/nkvoronov/script.module.youtube.dl.git
	branch = vmatrix
[submodule "script.module.autocompletion"]
	path = script.module.autocompletion
	url = https://github.com/nkvoronov/script.module.autocompletion.git
	branch = vmatrix
