[submodule "script.skinshortcuts"]
	path = script.skinshortcuts
	url = https://github.com/nkvoronov/script.skinshortcuts.git
	branch = V1.0.19
[submodule "script.skin.helper.service"]
	path = script.skin.helper.service
	url = https://github.com/nkvoronov/script.skin.helper.service.git
	branch = v1.1.25
[submodule "script.pvr.favourites"]
	path = script.pvr.favourites
	url = https://github.com/nkvoronov/script.pvr.favourites.git
	branch = vleia
[submodule "script.epg.vsetv"]
	path = script.epg.vsetv
	url = https://github.com/nkvoronov/script.epg.vsetv.git
	branch = vleia
[submodule "script.module.simplecache"]
	path = script.module.simplecache
	url = https://github.com/nkvoronov/script.module.simplecache.git
	branch = v1.0.17
[submodule "script.module.thetvdb"]
	path = script.module.thetvdb
	url = https://github.com/nkvoronov/script.module.thetvdb.git
	branch = v1.0.27
[submodule "script.module.musicbrainz"]
	path = script.module.musicbrainz
	url = https://github.com/nkvoronov/script.module.musicbrainz.git
	branch = v0.6.0
[submodule "script.skin.helper.colorpicker"]
	path = script.skin.helper.colorpicker
	url = https://github.com/nkvoronov/script.skin.helper.colorpicker.git
	branch = v1.0.13
[submodule "service.skin.widgets"]
	path = service.skin.widgets
	url = https://github.com/nkvoronov/service.skin.widgets.git
	branch = vleia
[submodule "script.rss.editor"]
	path = script.rss.editor
	url = https://github.com/nkvoronov/script.rss.editor.git
	branch = vleia
[submodule "script.globalsearch"]
	path = script.globalsearch
	url = https://github.com/nkvoronov/script.globalsearch.git
	branch = vleia
[submodule "script.simpleplaylists"]
	path = script.simpleplaylists
	url = https://github.com/nkvoronov/script.simpleplaylists.git
	branch = vleia
[submodule "script.transmission"]
	path = script.transmission
	url = https://github.com/nkvoronov/Transmission-XBMC.git
	branch = vleia
[submodule "script.xbmc.audio.mixer"]
	path = script.xbmc.audio.mixer
	url = https://github.com/nkvoronov/script.xbmc.audio.mixer.git
	branch = vleia
[submodule "script.xbmc.lcdproc"]
	path = script.xbmc.lcdproc
	url = https://github.com/nkvoronov/script.xbmc.lcdproc.git
	branch = vleia
[submodule "script.favourites"]
	path = script.favourites
	url = https://github.com/nkvoronov/script.favourites.git
	branch = vleia
[submodule "script.randomandlastitems"]
	path = script.randomandlastitems
	url = https://github.com/nkvoronov/script.randomandlastitems.git
	branch = vleia
[submodule "service.3denabler.samsungtv"]
	path = service.3denabler.samsungtv
	url = https://github.com/nkvoronov/service.3denabler.samsungtv.git
	branch = vleia
[submodule "script.image.resource.select"]
	path = script.image.resource.select
	url = https://github.com/nkvoronov/script.image.resource.select.git
	branch = vleia
[submodule "skin.confluence-extended"]
	path = skin.confluence-extended
	url = https://github.com/nkvoronov/skin.confluence-extended.git
	branch = vmatrix
[submodule "skin.confluence-extended-s"]
	path = skin.confluence-extended-s
	url = https://github.com/nkvoronov/skin.confluence-extended.git
	branch = vmatrix-s
[submodule "script.skin.helper.backgrounds"]
	path = script.skin.helper.backgrounds
	url = https://github.com/nkvoronov/script.skin.helper.backgrounds.git
	branch = v1.0.33
[submodule "script.skin.helper.skinbackup"]
	path = script.skin.helper.skinbackup
	url = https://github.com/nkvoronov/script.skin.helper.skinbackup.git
	branch = v1.0.19
[submodule "script.skin.helper.widgets"]
	path = script.skin.helper.widgets
	url = https://github.com/nkvoronov/script.skin.helper.widgets.git
	branch = v1.0.38
[submodule "script.module.metadatautils"]
	path = script.module.metadatautils
	url = https://github.com/nkvoronov/script.module.metadatautils.git
	branch = v1.0.19
[submodule "skin.estuary2-extended"]
	path = skin.estuary2-extended
	url = https://github.com/nkvoronov/skin.estuary2-extended.git
	branch = vmatrix
[submodule "skin.estuary2-extended-s"]
	path = skin.estuary2-extended-s
	url = https://github.com/nkvoronov/skin.estuary2-extended.git
	branch = vmatrix-s
[submodule "script.cu.lrclyrics"]
	path = script.cu.lrclyrics
	url = https://github.com/nkvoronov/script.cu.lrclyrics.git
	branch = vleia
[submodule "resource.images.busyspinners.estuary"]
	path = resource.images.busyspinners.estuary
	url = https://github.com/nkvoronov/resource.images.busyspinners.estuary.git
	branch = vleia
[submodule "resource.images.skinicons.estuary"]
	path = resource.images.skinicons.estuary
	url = https://github.com/nkvoronov/resource.images.skinicons.estuary.git
	branch = vleia
[submodule "script.module.cherrypy"]
	path = script.module.cherrypy
	url = https://github.com/nkvoronov/script.module.cherrypy.git
	branch = v11.0.1
[submodule "script.artwork.downloader.ex"]
	path = script.artwork.downloader.ex
	url = https://github.com/nkvoronov/script.artwork.downloader.ex.git
	branch = vleia
[submodule "script.xbmcbackup"]
	path = script.xbmcbackup
	url = https://github.com/nkvoronov/script.xbmcbackup.git
	branch = vleia
[submodule "script.tvtunes.ex"]
	path = script.tvtunes.ex
	url = https://github.com/nkvoronov/script.tvtunes.ex.git
	branch = vleia
[submodule "script.extendedinfo"]
	path = script.extendedinfo
	url = https://github.com/nkvoronov/script.extendedinfo.git
	branch = vleia
[submodule "script.module.kodi65"]
	path = script.module.kodi65
	url = https://github.com/nkvoronov/script.module.kodi65.git
	branch = vleia
[submodule "script.module.youtube.dl"]
	path = script.module.youtube.dl
	url = https://github.com/nkvoronov/script.module.youtube.dl.git
	branch = vleia
[submodule "script.module.arrow"]
	path = script.module.arrow
	url = https://github.com/nkvoronov/script.module.arrow.git
	branch = v0.15.5
