[submodule "skin.confluence-plood"]
	path = skin.confluence-plood
	url = https://github.com/nkvoronov/skin.confluence-plood.git
	branch = master
[submodule "skin.confluence-extented"]
	path = skin.confluence-extented
	url = https://github.com/nkvoronov/skin.confluence-extented.git
	branch = jarvis
[submodule "skin.confluence-extented-s"]
	path = skin.confluence-extented-s
	url = https://github.com/nkvoronov/skin.confluence-extented.git
	branch = jarvis-s
[submodule "script.skinshortcuts"]
	path = script.skinshortcuts
	url = https://github.com/nkvoronov/script.skinshortcuts.git
	branch = v1.0.10
[submodule "script.skin.helper.service"]
	path = script.skin.helper.service
	url = https://github.com/nkvoronov/script.skin.helper.service.git
	branch = v1.0.11
[submodule "script.favourites"]
	path = script.favourites
	url = https://github.com/ronie/script.favourites.git
	branch = jarvis
[submodule "script.pvr.favourites"]
	path = script.pvr.favourites
	url = https://github.com/nkvoronov/script.pvr.favourites.git
	branch = master
[submodule "service.skin.widgets"]
	path = service.skin.widgets
	url = https://github.com/XBMC-Addons/service.skin.widgets.git
	branch = master
[submodule "script.randomandlastitems"]
	path = script.randomandlastitems
	url = https://github.com/XBMC-Addons/script.randomandlastitems.git
	branch = master
[submodule "script.epg.vsetv"]
	path = script.epg.vsetv
	url = https://github.com/nkvoronov/script.epg.vsetv.git
	branch = master
[submodule "skin.estuary-extented"]
	path = skin.estuary-extented
	url = https://github.com/nkvoronov/skin.estuary-extented.git
	branch = jarvis
